.nav {
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding: 2rem;
	position: relative;

	.nav-brand {
		display: flex;
		align-items: center;
		gap: 5px;
		z-index: 101;

		.nav-logo {
			width: 40px;

			@media screen and (min-width: 700px) {
				width: 50px;
			}
		}

		.brand-name {
			font-family: "Poppins";
			font-size: 1.3rem;
			font-weight: 600;
			color: $primary-color;
			letter-spacing: 0.5px;

			@media screen and (min-width: 700px) {
				font-size: 1.5rem;
			}
		}
	}

	.nav-toggle {
		width: 30px;
		height: 30px;
		cursor: pointer;
		z-index: 101;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		padding: 5px 0;
		transition: all 0.3s ease;

		@media (min-width: 700px) {
			display: none;
		}
	}

	.burger-bar {
		width: 100%;
		height: 3px;
		background-color: $dark-color;
		border-radius: 2px;
	}

	.nav-toggle.toggled {
		.top-bar {
			transform: rotate(45deg) translateY(8.5px);
		}

		.middle-bar {
			opacity: 0;
		}

		.bottom-bar {
			transform: rotate(-45deg) translateY(-8.5px);
		}
	}

	.nav-menu {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		background-color: $bg-color;
		padding: 5rem 2rem 3rem;
		box-shadow: $shadow-soft;

		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 2rem;

		opacity: 0;
		visibility: hidden;
		transform: translateY(-20px);
		z-index: 100;

		&.show-menu {
			opacity: 1;
			visibility: visible;
			transform: translateY(0);
		}

		.nav-link {
			font-size: 1.1rem;
			color: $dark-color;
			font-weight: 400;

			&:hover {
				color: $secondary-color;
			}
		}

		@media (min-width: 700px) {
			position: static;
			width: auto;
			padding: 0;
			background-color: transparent;
			box-shadow: none;

			display: flex;
			flex-direction: row;
			align-items: center;
			gap: 40px;

			opacity: 1;
			visibility: visible;
			transform: none;
		}
	}
}
