/* =====================
   VARIABLES 
===================== */
$primary-color: #143d6b;
$secondary-color: #b89750;
$bg-color: #f7f9f8;
$dark-color: #4e5259;

$border-radius-general: 12px;
$shadow-soft: 0 10px 30px rgba(0, 0, 0, 0.05);
$shadow-hover: 0 15px 40px rgba(20, 61, 107, 0.15);

/* =====================
   TYPOGRAPHY
===================== */
@font-face {
	font-family: "Inter";
	src: url("../typography/Inter-Regular.ttf") format("truetype");
	font-weight: 400;
}
@font-face {
	font-family: "Inter";
	src: url("../typography/Inter-Bold.ttf") format("truetype");
	font-weight: 600;
}
@font-face {
	font-family: "Poppins";
	src: url("../typography/Poppins-Regular.ttf") format("truetype");
	font-weight: 400;
}
@font-face {
	font-family: "Poppins";
	src: url("../typography/Poppins-Bold.ttf") format("truetype");
	font-weight: 600;
}
/* =====================
   RESET & BASE STYLES
===================== */
* {
	margin: 0;
	padding: 0;
	outline: none;
	box-sizing: border-box;
	border: none;
	list-style: none;
	text-decoration: none;
	transition: all 0.3s ease;
}

body {
	background-color: $bg-color;
	color: $dark-color;
	line-height: 1.6;
	overflow-x: hidden;
	position: relative;
	font-family: "Inter";
}

a {
	color: inherit;
	text-decoration: none;
	cursor: pointer;
}

img,
svg {
	width: 100%;
	display: block;
}

.highlight {
	color: $primary-color;
}

/* =====================
   MIXINS
===================== */
@mixin flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

/* =====================
   BUTTONS
===================== */
.btn {
	display: inline-block;
	padding: 0.7rem 1.8rem;
	border-radius: 50px;
	font-weight: 600;
	font-size: 0.9rem;
	letter-spacing: 1px;
	text-transform: uppercase;

	&.btn-primary {
		background-color: $primary-color;
		color: $bg-color;

		&:hover {
			background-color: lighten($primary-color, 5%);
			transform: translateY(-2px);
			box-shadow: $shadow-hover;
		}
	}

	&.ghost-btn {
		background-color: transparent;
		border: solid 2px $primary-color;
		color: $primary-color;

		&:hover {
			background-color: $primary-color;
			color: $bg-color;
			transform: translateY(-2px);
		}
	}
}

/* =====================
   LAYOUT UTILITIES
===================== */
.body-content {
	display: grid;
	justify-items: center;
	grid-template-columns: 1fr;
}

section {
	padding: 1.5rem;
	max-width: 1100px;
	margin-bottom: 50px;
}

.section-title {
	font-family: "Poppins";
	font-size: 2rem;
	font-weight: 600;
	color: #2d3138;
	margin-bottom: 1rem;
	line-height: 1.2;
}
